body {
  font-family: 'System-ui', System-ui;
  background-color: #f0f4f8;
  margin: 0;
  padding: 90px;
}

h1 {
  text-align: center;
  color: #2c3e50;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px black;
  width: 550px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: 30px;
  margin-bottom: 10px;
  color: #34495e;
}

.card-text {
  font-size: 20px;
  color: #555;
}
