@import url(./globals.css);
:root {
    --nav-height: 50px;
}
body{
    margin: 0;
    font-family: "Yu Gothic";
    background-color: #001524;
}
.logo{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
nav{
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    height: 50px;
}

.nav-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: var(--nav-height);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15616d;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    text-decoration: none;
    padding: 15px 0;
}

.nav-logo{
    padding: 0 0 0 70px ;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    transform: scale(1.5);
}

.nav-links{
    display: flex;
    list-style: none;
    padding: 0 70px;
}

.nav-links li{
    margin-left: 30px;
}

.nav-links a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s;
}
.nav-links a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
}

.nav-links a:hover::after{
    width: 100%;
}

#contenedor-body{
    width: 100%;
    display: flex;
    padding-top: 70px;
}
#contenedor-izquierda{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: large;
    width: 40%;
    position: fixed;
    align-items: left;
    display: flex;
    left: 10%;
    top: 15%;
}

.contenedor-titulo {
    display: flex;
    justify-content: space-evenly;
}

.contenedor-titulo h2{
    padding-left: 5%;
    border-left: #15616d 5px solid;
}
.contenedor-titulo h1{
    margin: 0;
    font-size: 80px;
    padding-right: 5%;
}

#boton{
    background-color: #15616d;
    font-size: large;
    border-radius: 40px;
    color: white;
    padding: 10px;
    border: none;
    transition: all 0.5s;
    margin: 10px;

    cursor: pointer;
}
#boton:hover{
    background-color: #15616d94;
    transform: scale(1.1);
}
#contenedor-derecha{
    position: absolute;
    top: 15%;
    left: 55%;
    padding: 20px;
    padding-bottom: 100px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px 0;
    color: white;
}
#contenedor-test{
    display: flex;
    flex-direction: column;
    gap: 30px
}
.card{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 40px;
    transition: all 0.5s;
    border-radius: 40px;
}
.card:hover{
    transform: scale(1.1);
    background-color: #15616d94;
}
.contenedor-input{
    display: flex;
    flex-direction: column;
}
.logo{
    width: 125px;
    height: 125px;
    border-radius: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.testtxt{
    font-size: 20px;
    transition: transform 0.5s ease, color 0.5s ease;
    transform-origin: left; 
}
#logo-wp{
    background-image: url(../res/logo-whatsapp.png);
}
#logo-ig{
    background-image: url(../res/logo-ig.ai.png);
}
#logo-x{
    background-image: url(../res/logo-x.png);
}
#logo-fb{
    background-image: url(../res/logo-fb.png);
}
#logo-tt{
    background-image: url(../res/logo-tt.jpg);
}
#logo-yt{
    background-image: url(../res/logo-yt.png);
}
#logo-otro{
    background-image: url(../res/logo-otro.png);
}

.destacado {
    transform: scale(1.1);
    transition: transform 0.5s ease, color 0.5s ease;
    color: darkgoldenrod;
    font-weight: 600;
    transform-origin: left; 
}
.destacado2 {
    transform: scale(1.2);
    transition: transform 0.5s ease, color 0.5s ease;
    color: #ff7d00;
    font-weight: 700;
    transform-origin: left; 
}
.destacado3 {
    transform: scale(1.3);
    transition: transform 0.5s ease, color 0.5s ease;
    color: rgb(228, 53, 53);
    font-weight: 800;
    transform-origin: left;
}

#footer-contenedor{
    width: 100%;
    height: var(--nav-height);
    margin: 0 auto;
    color: white;
    background-color: #072336;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0%;
    z-index: 1000;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.2);
}